@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button:focus-visible {
        @apply outline-black;
    }
    [v-cloak] {
        @apply hidden;
    }
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: optional;
        src: local(''), url('@/assets/fonts/Inter/InterTight[wght].woff2') format('woff2');
    }
    @font-face {
        font-family: 'Inter';
        font-style: italic;
        font-synthesis: none;
        font-weight: 100 900;
        font-display: optional;
        src: local(''), url('@/assets/fonts/Inter/InterTight-Italic[wght].woff2') format('woff2');
    }
}

@layer components {
    .autocomplete-item[aria-selected="true"] {
        @apply bg-vxvue-700 text-white;
    }
    .button {
        @apply inline-flex items-center justify-center px-8 py-2 border border-transparent text-base font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
    }
    .button.success {
        @apply bg-success-700 hover:bg-success-600 focus:ring-success-600 text-white
    }
    .button.alert {
        @apply bg-error-700 hover:bg-error-600 focus:ring-error-600 text-white
    }
    .button.cancel {
        @apply bg-slate-300 hover:bg-slate-200 focus:ring-slate-200 text-slate-800
    }
    .disabled {
        @apply text-stone-700 !bg-stone-200 hover:!text-stone-700 hover:!bg-stone-300;
    }
    .chip {
        @apply rounded-l-full rounded-r-full bg-stone-300 py-1 px-4;
    }
    .icon-link {
        @apply text-vxvue-700 border-2 border-transparent p-1 rounded hover:text-vxvue-500 hover:border-vxvue-500 transition duration-300;
    }
    label.required {
        @apply font-bold
    }
    .tooltip {
        @apply relative
    }
    .tooltip:after {
        @apply text-sm absolute z-10 bottom-full left-1/2 overflow-hidden px-2 py-1 opacity-0 -translate-x-1/2 translate-y-2 transition-all rounded-sm text-white bg-black/50 content-[attr(data-tooltip)]
    }
    .tooltip:hover:after {
        @apply opacity-100 -translate-y-1
    }
    .form-input {
        @apply text-vxvue-900
    }
    .thumb {
        @apply rounded-sm shadow ring-1 ring-black ring-opacity-5
    }
    .link {
        @apply text-vxvue hover:text-vxvue-700 active:text-vxvue-700 hover:underline active:underline
    }
    .floating-label {
        @apply absolute px-2 left-1 top-2 scale-75 z-10 origin-[0]
        bg-white -translate-y-5 transform-gpu duration-200
        peer-focus:text-blue-600 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5 peer-focus:bg-white
        peer-placeholder-shown:top-1/2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-slate-400 peer-placeholder-shown:bg-transparent peer-placeholder-shown:cursor-text
    }
}

/* define the default vx-vue color set */

:root {
    --vxvue-color: #0089CC;
    --vxvue-color-50: #f0f9ff;
    --vxvue-color-100: #e0f2fe;
    --vxvue-color-200: #b9e7fe;
    --vxvue-color-300: #7cd5fd;
    --vxvue-color-400: #36c0fa;
    --vxvue-color-500: #0ca9eb;
    --vxvue-color-600: var(--vxvue-color);
    --vxvue-color-700: #016ba3;
    --vxvue-color-800: #065a86;
    --vxvue-color-900: #0b4b6f;
    --vxvue-color-950: #07304a;

    --vxvue-highlight: #ff9400;
    --vxvue-highlight-50: #fffbea;
    --vxvue-highlight-100: #fff1c5;
    --vxvue-highlight-200: #ffe385;
    --vxvue-highlight-300: #ffce46;
    --vxvue-highlight-400: #ffb81b;
    --vxvue-highlight-500: var(--vxvue-highlight);
    --vxvue-highlight-600: #e26d00;
    --vxvue-highlight-700: #bb4902;
    --vxvue-highlight-800: #983808;
    --vxvue-highlight-900: #7c2f0b;
    --vxvue-highlight-950: #481600;

    --error-color: #b51212;
    --error-color-50: #fff1f1;
    --error-color-100: #ffe0e0;
    --error-color-200: #ffc7c7;
    --error-color-300: #ffa0a0;
    --error-color-400: #ff6969;
    --error-color-500: var(--error-color);
    --error-color-600: #e61c1c;
    --error-color-700: #b51212;
    --error-color-800: #a01414;
    --error-color-900: #841818;
    --error-color-950: #480707;

    --warn-color: #e2b625;
    --warn-color-50: #fcf9ea;
    --warn-color-100: #f8f2c9;
    --warn-color-200: #f2e496;
    --warn-color-300: #ebcf59;
    --warn-color-400: var(--warn-color);
    --warn-color-500: #d3a11f;
    --warn-color-600: #b67e18;
    --warn-color-700: #915b17;
    --warn-color-800: #79491a;
    --warn-color-900: #673e1c;
    --warn-color-950: #3c1f0c;

    --info-color: #0080f0;
    --info-color-50: #edfbff;
    --info-color-100: #d6f4ff;
    --info-color-200: #b5eeff;
    --info-color-300: #83e6ff;
    --info-color-400: #48d5ff;
    --info-color-500: #1eb8ff;
    --info-color-600: #069cff;
    --info-color-700: var(--info-color);
    --info-color-800: #0867c5;
    --info-color-900: #0d599b;
    --info-color-950: #0e355d;

    --success-color: #20b840;
    --success-color-50: #f0fdf2;
    --success-color-100: #dcfce2;
    --success-color-200: #bbf7c7;
    --success-color-300: #86ef9b;
    --success-color-400: #4ade69;
    --success-color-500: var(--success-color);
    --success-color-600: #16a334;
    --success-color-700: #15802c;
    --success-color-800: #166528;
    --success-color-900: #145323;
    --success-color-950: #052e10;

    --header-height: 6rem;
}

.ProseMirror {
    @apply p-2 border border-slate-200
}

/* animations */

.fade-enter-from,
.fade-leave-to
{
    @apply opacity-0;
}
.fade-enter-to,
.fade-leave-from {
    @apply opacity-100;
}
.fade-enter-active {
    @apply duration-150;
}
.fade-leave-active {
    @apply duration-100;
}

.appear-enter-from,
.appear-leave-to
{
    @apply transform opacity-0 scale-95;
}
.appear-enter-to,
.appear-leave-from {
    @apply transform opacity-100 scale-100;
}
.appear-enter-active {
    @apply transition ease-out duration-100;
}
.appear-leave-active {
    @apply transition ease-out duration-75;
}

.slide-from-left-enter-from,
.slide-from-left-leave-to {
    @apply -translate-x-1/4 opacity-0;
}
.slide-from-right-enter-from,
.slide-from-right-leave-to {
    @apply translate-x-1/4 opacity-0;
}
.slide-from-left-enter-to,
.slide-from-left-leave-from,
.slide-from-right-enter-to,
.slide-from-right-leave-from {
    @apply translate-x-0 opacity-100;
}
.slide-from-left-enter-active,
.slide-from-right-enter-active {
    @apply duration-300 ease-out;
}
.slide-from-left-leave-active,
.slide-from-right-leave-active {
    @apply duration-200 ease-in;
}
