@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button:focus-visible {
        @apply outline-black;
    }
    [v-cloak] {
        @apply hidden;
    }
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: optional;
        src: local(''), url('@/assets/fonts/Inter/InterTight[wght].woff2') format('woff2');
    }
    @font-face {
        font-family: 'Inter';
        font-style: italic;
        font-synthesis: none;
        font-weight: 100 900;
        font-display: optional;
        src: local(''), url('@/assets/fonts/Inter/InterTight-Italic[wght].woff2') format('woff2');
    }
}

@layer components {
    .autocomplete-item[aria-selected="true"] {
        @apply bg-vxvue-700 text-white;
    }
    .button {
        @apply px-4 py-2 font-medium rounded focus:outline-none focus:ring-2 focus:ring-offset-2;
    }
    .disabled {
        @apply text-stone-700 !bg-stone-200 hover:!text-stone-700 hover:!bg-stone-300;
    }
    .chip {
        @apply rounded-l-full rounded-r-full bg-stone-300 py-1 px-4;
    }
    .icon-link {
        @apply text-vxvue-700 border-2 border-transparent p-1 rounded hover:text-vxvue-500 hover:border-vxvue-500 transition duration-300;
    }
    label.required {
        @apply font-bold
    }
    .form-input {
        @apply text-vxvue-900
    }
    .thumb {
        @apply rounded-sm shadow ring-1 ring-black ring-opacity-5
    }
    .link {
        @apply text-vxvue hover:text-vxvue-700 active:text-vxvue-700 hover:underline active:underline
    }
    .floating-label {
        @apply absolute px-2 left-1 top-2 scale-75 z-10 origin-[0]
        bg-white -translate-y-5 transform-gpu duration-200
        peer-focus:text-blue-600 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5 peer-focus:bg-white
        peer-placeholder-shown:top-1/2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-slate-400 peer-placeholder-shown:bg-transparent peer-placeholder-shown:cursor-text
    }
}

/* define the default vx-vue color set */

:root {
    --vxvue-color: 0 137 204;
    --vxvue-color-50: 240 250 255;
    --vxvue-color-100: 219 243 255;
    --vxvue-color-200: 184 231 255;
    --vxvue-color-300: 133 214 255;
    --vxvue-color-400: 77 195 255;
    --vxvue-color-500: 0 167 250;
    --vxvue-color-600: var(--vxvue-color);
    --vxvue-color-700: 0 122 184;
    --vxvue-color-800: 0 99 148;
    --vxvue-color-900: 0 75 112;
    --vxvue-color-950: 0 51 77;

    --vxvue-highlight: 255 148 0;
    --vxvue-highlight-50: 255 247 235;
    --vxvue-highlight-100: 255 236 209;
    --vxvue-highlight-200: 255 213 153;
    --vxvue-highlight-300: 255 185 87;
    --vxvue-highlight-400: var(--vxvue-highlight);
    --vxvue-highlight-500: 235 137 0;
    --vxvue-highlight-600: 209 122 0;
    --vxvue-highlight-700: 184 107 0;
    --vxvue-highlight-800: 153 89 0;
    --vxvue-highlight-900: 112 65 0;
    --vxvue-highlight-950: 82 48 0;

    --error-color: 181 18 18;
    --error-color-50: 255 241 241;
    --error-color-100: 255 224 224;
    --error-color-200: 255 199 199;
    --error-color-300: 255 160 160;
    --error-color-400: 255 105 105;
    --error-color-500: 249 58 58;
    --error-color-600: 230 28 28;
    --error-color-700: var(--error-color);
    --error-color-800: 160 20 20;
    --error-color-900: 132 24 24;
    --error-color-950: 72 7 7;

    --warn-color: 226 182 37;
    --warn-color-50: 252 249 234;
    --warn-color-100: 248 242 201;
    --warn-color-200: 242 228 150;
    --warn-color-300: 235 207 89;
    --warn-color-400: var(--warn-color);
    --warn-color-500: 211 161 31;
    --warn-color-600: 182 126 24;
    --warn-color-700: 145 91 23;
    --warn-color-800: 121 73 26;
    --warn-color-900: 103 62 28;
    --warn-color-950: 60 31 12;

    --info-color: 0 128 240;
    --info-color-50: 237 251 255;
    --info-color-100: 214 244 255;
    --info-color-200: 181 238 255;
    --info-color-300: 131 230 255;
    --info-color-400: 72 213 255;
    --info-color-500: 30 184 255;
    --info-color-600: 6 156 255;
    --info-color-700: var(--info-color);
    --info-color-800: 8 103 197;
    --info-color-900: 13 89 155;
    --info-color-950: 14 53 93;

    --success-color: 29 169 60;
    --success-color-50: 233 251 237;
    --success-color-100: 203 246 212;
    --success-color-200: 138 235 159;
    --success-color-300: 42 218 80;
    --success-color-400: 32 184 64;
    --success-color-500: var(--success-color);
    --success-color-600: 26 152 54;
    --success-color-700: 23 130 46;
    --success-color-800: 20 113 40;
    --success-color-900: 14 83 29;
    --success-color-950: 10 56 20;

    --header-height: 6rem;
}

.ProseMirror {
    @apply p-2 border border-slate-200
}

/* animations */

.fade-enter-from,
.fade-leave-to
{
    @apply opacity-0;
}
.fade-enter-to,
.fade-leave-from {
    @apply opacity-100;
}
.fade-enter-active {
    @apply duration-150;
}
.fade-leave-active {
    @apply duration-100;
}

.appear-enter-from,
.appear-leave-to
{
    @apply transform opacity-0 scale-95;
}
.appear-enter-to,
.appear-leave-from {
    @apply transform opacity-100 scale-100;
}
.appear-enter-active {
    @apply transition ease-out duration-100;
}
.appear-leave-active {
    @apply transition ease-out duration-75;
}

.slide-from-left-enter-from,
.slide-from-left-leave-to {
    @apply -translate-x-1/4 opacity-0;
}
.slide-from-right-enter-from,
.slide-from-right-leave-to {
    @apply translate-x-1/4 opacity-0;
}
.slide-from-left-enter-to,
.slide-from-left-leave-from,
.slide-from-right-enter-to,
.slide-from-right-leave-from {
    @apply translate-x-0 opacity-100;
}
.slide-from-left-enter-active,
.slide-from-right-enter-active {
    @apply duration-300 ease-out;
}
.slide-from-left-leave-active,
.slide-from-right-leave-active {
    @apply duration-200 ease-in;
}
